@charset "UTF-8";
/*css reset*/
body {
  background: #efefef;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0; }

hr {
  height: 0;
  border: none;
  border-top: 1px solid #dedede; }

ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

/*topNavBar*/
.topNavBar {
  padding: 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 1s;
  color: #b7b7b7; }

.topNavBar-inner {
  padding: 0 16px; }

.topNavBar nav {
  padding: 5px; }
.topNavBar nav > ul {
  list-style: none;
  margin: 0;
  padding: 0; }
.topNavBar nav li {
  float: left;
  margin: 0 17px;
  position: relative; }
.topNavBar nav a {
  display: block;
  font-size: 12px;
  color: inherit;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding: 4px 0;
  position: relative; }

.topNavBar nav > ul > li > a::after {
  /*border-bottom: 3px solid #e06567;*/
  content: " ";
  display: block;
  height: 3px;
  width: 0%;
  position: absolute;
  background-color: #e6686a;
  /*bottom:0px;*/
  top: 100%;
  animation: slideNavBars .25s; }

/*.topNavBar nav>ul>li>a:hover::after {*/
/*!*border-bottom: 3px solid #e06567;*!*/
/*content:" ";*/
/*display: block;*/
/*height: 3px;*/
/*width: 100%;*/
/*position: absolute;*/
/*background-color: #e6686a;*/
/*!*bottom:0px;*!*/
/*top:100%;*/
/*animation: slideNavBar .25s;*/
/*}*/
/*有下拉菜单的移动导航*/
.topNavBar nav > ul > li.active > a::after, .topNavBar nav > ul > li.highlight > a::after {
  /*border-bottom: 3px solid #e06567;*/
  content: " ";
  display: block;
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #e6686a;
  /*bottom:0px;*/
  top: 100%;
  animation: slideNavBar .25s; }

@keyframes slideNavBar {
  0% {
    width: 0px; }
  100% {
    width: 100%; } }

@keyframes slideNavBars {
  0% {
    width: 100%; }
  100% {
    width: 0px; } }

.topNavBar .subMenu {
  position: absolute;
  display: none;
  /*display: block;*/
  /*visibility: hidden;*/
  top: 100%;
  right: 0;
  background-color: #fff;
  white-space: nowrap;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer; }

.topNavBar li.active .subMenu {
  display: block;
  /*visibility: visible;*/
  animation: slideMenu .5s; }

.topNavBar li.vanish .subMenu {
  display: none;
  /*visibility: hidden;*/
  /*opacity: 0;*/
  animation: slideMenus .5s; }

@keyframes slideMenu {
  0% {
    transform: translateX(-50%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideMenus {
  0% {
    display: block;
    transform: translateX(0);
    opacity: 1; }
  100% {
    display: none;
    transform: translateX(-50%);
    opacity: 0; } }

.topNavBar .subMenu li {
  margin: 0;
  padding: 0 10px;
  transition: background .5s; }

.topNavBar .subMenu li:hover {
  /* font-family: Helvetica; */
  background: #efefef;
  color: #e6686a; }

.topNavBar .subMenu a {
  font-family: Helvetica;
  font-weight: lighter; }

.topNavBar a {
  float: left; }

.topNavBar nav {
  float: right; }

.topNavBar .logo {
  padding: 3px 0;
  font-size: 24px;
  font-family: "Arial Black"; }

.topNavBar .logo .rs {
  margin-right: 4px;
  color: #e6686a; }

.topNavBar .logo .card {
  color: #9a9da2; }

/*</editor-fold>*/
.banner {
  height: 515px;
  background: url("../image/oneperson.png") center center;
  background-size: cover; }

.banner .mask {
  height: 515px;
  background-color: rgba(0, 0, 0, 0.7); }

.userCard {
  /*border: 1px solid red;*/
  max-width: 940px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.47); }

.userCard .welcome {
  position: relative;
  background: #e6686a;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px; }

.userCard .welcome .triangle {
  position: absolute;
  display: block;
  border: 10px solid #e6686a;
  height: 0px;
  width: 0px;
  border-top: 0px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  top: 100%;
  left: 4px; }

.userCard .picture {
  float: left; }

.userCard .profile {
  float: left;
  margin-left: 60px;
  width: 380px; }

.userCard .pictureAndText {
  padding: 60px; }

.userCard .profile h1 {
  margin-top: 30px; }

.userCard .profile h2 {
  font-size: 20px;
  color: #3d4451; }

.userCard .profile hr {
  margin: 20px 0; }

.userCard .profile dl dt {
  float: left;
  width: 30%;
  padding: 5px 0;
  font-weight: bold; }

.userCard .profile dl dd {
  float: left;
  width: 70%;
  padding: 5px 0;
  color: #9da0a7; }

.userCard footer {
  background-color: #e6686a;
  text-align: center; }

/*   logo  */
.userCard svg {
  width: 30px;
  height: 30px;
  fill: white;
  /*上面明显偏上 解决* /
   */
  vertical-align: top; }

.userCard footer > a {
  /*border: 1px solid black;*/
  /* inline 不能包住 svg */
  display: inline-block;
  line-height: 30px;
  padding: 5px 0;
  width: 40px;
  border-radius: 50%;
  margin: 16px; }

.userCard footer > a:hover {
  /*border: 1px solid black;*/
  /* inline 不能包住 svg */
  background-color: #CF5D5F;
  display: inline-block;
  line-height: 30px;
  padding: 5px 0;
  width: 40px;
  border-radius: 50%; }

/* 介绍页位置*/
body > main {
  margin-top: -360px; }

body > main .dowmloadResume {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  padding: 21px 55px;
  border: 1px solid #cdcfd1;
  background-color: #efefef;
  border-radius: 2px;
  color: #3d4451;
  font-weight: bold;
  margin: 32px 0;
  transition: box-shadow 1s; }

body > main .dowmloadResume-wrapper {
  text-align: center; }

body > main .dowmloadResume:hover {
  box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.27); }

.selfIntroduction {
  max-width: 940px;
  margin: 0 auto;
  text-align: center; }

/* Ssection*/
section.skills,
section.portfolio {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 60px; }

section.skills > h2,
section.portfolio > h2,
section.messageBoard > h2 {
  text-align: center;
  color: #3d4451;
  line-height: 1.2;
  font-weight: 600; }

section.skills > ol {
  background-color: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.47);
  padding: 42px 50px 10px;
  margin-top: 30px; }

/* 进度条*/
section.skills .progressBar {
  height: 5px;
  /*border: 1px solid #e6686a;*/
  background-color: #fae1e1;
  border-radius: 2px;
  margin: 4px 0 40px 0;
  overflow: hidden; }

section.skills .progressBar > .progress {
  height: 100%;
  background-color: #e6686a;
  width: 50%;
  transform: translateX(0);
  transition: all 1s; }

section.skills > ol > li {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-right: 40px; }

section.skills > ol > li:nth-child(even) {
  float: right;
  /*background-color: #f00;*/ }

section.skills h3 {
  font-size: 14px;
  line-height: 1.1; }

/* portfolio*/
section.portfolio {
  text-align: center; }

section.portfolio > nav > ol > li {
  float: left;
  margin-left: 40px;
  cursor: pointer; }

section.portfolio > nav > ol {
  /*border: 1px solid red;*/
  margin: 0 auto;
  display: inline-block;
  vertical-align: top; }

section.portfolio > nav {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-top: 32px; }

section.portfolio > nav > ol > li:first-child {
  float: left;
  margin-left: 0px; }

section.portfolio > nav .bar {
  /*border: 1px solid red;*/
  height: 5px;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 30px;
  border-radius: 2px; }

section.portfolio > nav .bar > .bar-inner {
  height: 100%;
  background-color: #e6686a;
  /*width: 10%;*/
  border-radius: 2px;
  /*margin-left: 100px;*/
  transition: all 0.3s; }

/*状态机*/
section.portfolio > nav .bar.stage-1 .bar-inner {
  width: 50px;
  margin-left: 0px; }

section.portfolio > nav .bar.stage-2 .bar-inner {
  width: 65px;
  margin-left: 65px; }

section.portfolio > nav .bar.stage-3 .bar-inner {
  width: 96px;
  margin-left: 140px; }

/*works*/
/*section.portfolio .works{*/
/*position: relative;*/
/*!*border: 1px solid red;*!*/
/*margin-bottom: 100px;*/
/*}*/
/*section.portfolio .works> .big,*/
/*section.portfolio .works> .small*/
/*{*/
/*position: absolute;*/
/*}*/
.xxxx {
  border: 10px solid red; }

/*  轮播  */
section.portfolio .swiper-container {
  width: 668px;
  height: 501px;
  background-color: #fff;
  margin-top: 30px; }

section.portfolio .work_1 {
  background: url("../image/works/nav-page.jpg") center center no-repeat;
  /*background-color: #fff;*/
  background-size: cover; }

section.portfolio .work_2 {
  background: url("../image/works/canvas.jpg") center center no-repeat;
  background-size: cover; }

section.portfolio .work_3 {
  background: url("../image/works/apple-style-slides.jpg") center center no-repeat;
  background-size: cover; }

/* 导航按钮 */
section.portfolio .swiper-button-prev, section.portfolio .swiper-button-next {
  background-color: #fff;
  width: 4em;
  height: 4em;
  border-radius: 50%; }

section.portfolio .swiper-button-prev:focus, section.portfolio .swiper-button-next:focus {
  outline: none;
  /*box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);*/ }

/* 按钮旋转  */
/*section.portfolio .swiper-button-prev:active {*/
/*transform: rotate(-360deg);*/
/*transition: all 1s;*/
/*}*/
/*section.portfolio .swiper-button-next:active {*/
/*transform: rotate(360deg);*/
/*transition: all .5s;*/
/*}*/
/* 留言板 */
section.messageBoard {
  max-width: 668px;
  margin: 0 auto;
  margin-top: 60px; }

section.messageBoard ol {
  max-width: 668px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 60px;
  box-shadow: 0 1px 6px 4px rgba(102, 102, 102, 0.1);
  background: #fff;
}

section.messageBoard ol > li {
  padding: 16px;
  border-bottom: 1px solid #ddd; }

section.messageBoard > form {
  margin-top: 41px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}
section.messageBoard > form > label{
  margin-right: 3px;
}
section.messageBoard > form > input{
  margin-right: 20px;
}
section.messageBoard > form > label >input[type=text]{
  margin-bottom: -5px;
  border: 0;
  height: 45px;
  line-height: 45px;
  padding-left: 14px;
  background: #fff;
  font-weight: lighter;
  box-shadow: -3px 4px 4px -4px rgba(51,51,51,0.35);
  font-size: 18px;
}
section.messageBoard > form > label > .inputName{
  width: 110px;
}
section.messageBoard > form > label > .inputContent{
  width: 570px;
}
section.messageBoard > form > .button{
  text-align: center;
  width: 75px;
  background: #444;
  font-size: 18px;
  border: 0;
  color: white;
  border-radius: 4px;
  transition: all 0.3s;
}
section.messageBoard > form > .button:hover{
  background: #000;
  color: white;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,.2);
}
section.messageBoard > form > .button:focus{
  outline: none;
  color: white;
  border: 0;
  background: #444;
}
section.messageBoard > form  >input[type=text]:focus{
  outline: none;
}

section.messageBoard> ol > li {
  padding: 14px 0 12px 16px;
  border-bottom: 1px solid #ddd;
}
